<% content_for :title, "Users" %>

<h1 class="text-center mt-4">Feeders</h1>

<div class="d-flex flex-column mb-4">
  <div class="text-center">
    <% @users.each do |user| %>
      <h4 class="justify-content-center"><%= link_to user.username, user %></h4>
      <h5><%= link_to gravatar_for(user, size: 130) %></h5>
      <%= link_to "View Profile", user, class: "btn btn-outline-success btn-sm mb-4" %>
      <%= link_to "Edit Profile", edit_user_path(user), class: "btn btn-outline-secondary btn-sm mb-4"%>
    <% end %>
  </div>
</div>

