<div class="card">
  <div class="card-body">
    <h1 class="card-title text-center">Welcome to Cat Feeding Tracker App</h1>
    <p class="card-text text-center">Discover what your cat loves next meal</p>
  </div>
</div>

